<section class="hidden md:flex w-screen h-screen justify-center items-center">
    <p class="absolute top-10 text-4xl font-bold bg-pink-200 p-5 rounded-full w-[60%] border-4 text-center">About Me</p>
    <div class="w-[60%] h-[40rem] gap-10 flex font-semibold border-4  rounded-4xl p-4 bg-pink-100 relative">
        <img src="/icons/kir.webp" class="absolute w-[250px] opacity-10 rounded-lg right-50 bottom-40" alt="">
        <div class="w-[50%] h-full rounded-lg">
            <img src="/images/main.jpeg" class="w-full h-full object-fill rounded-2xl border-4" alt="">
        </div>
        <div class="w-full h-full relative">
            <div class="w-full flex justify-between mb-5">
                <div class="flex flex-col text-xl gap-2 font-normal">
                    <h1 class="font-bold text-4xl">Adly Fahreza</h1>
                    <h2>mitsuhadly@gmail.com</h2>
                </div>
                <div class="flex gap-2">
                    <img src="/icons/github.png" class="w-[70px] h-[70px] bg-pink-300 border-3 rounded-full object-contain p-2" alt="">
                    <img src="/icons/instagram.png" class="bg-pink-300 border-3 h-[70px] rounded-full w-[70px] object-contain p-2" alt="">
                    <img src="/icons/linkedin.png" class="bg-pink-300 border-3 h-[70px] rounded-full w-[70px] object-contain p-2" alt="">
                </div>
            </div>
            <div class="flex mb-5 gap-5 w-full ">
                <div class="bg-pink-400 w-fit p-2 rounded-full border-3 flex-1 text-center">
                    <p class="text-xl text-white">#WebDevelopment</p>
                </div>
                <div class="bg-pink-400 w-fit p-2 rounded-full border-3 flex-1 text-center">
                    <p class="text-xl text-white">#Linux</p>
                </div>
                <div class="bg-pink-400 w-fit p-2 rounded-full border-3 flex-1 text-center">
                    <p class="text-xl text-white">#AI&ML</p>
                </div>
            </div>
            <div class="mb-5 ">
                <p class="text-2xl font-normal">I am a vocational school student majoring in <a href="" class="underline font-bold">Software Engineering</a>. I have a great interest in technology, especially software technology.</p>
                <p class="opacity-10">
                    i really like kirby btw
                </p>
            </div>
            <div class="flex gap-5 w-full absolute bottom-2">
                <div class="bg-red-100 flex-1 border-3 rounded-full p-2">
                    <p class="text-2xl font-bold text-center">Contact Me</p>
                </div>
                <div class="bg-pink-300 flex-1 border-3 rounded-full p-2">
                    <p class="text-2xl font-bold text-center">See My CV</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //Mobile -->
<section class="flex md:hidden w-screen h-screen justify-center items-center">
    <p class="absolute top-10 text-2xl font-bold bg-pink-200 p-5 rounded-full w-[90%] border-4 text-center">About Me</p>
    <div class="w-[90%] h-[40rem] gap-10 flex font-semibold border-4  rounded-4xl p-4 bg-pink-100 relative">
        <img src="/icons/kir.webp" class="absolute w-[200px] rounded-lg right-10 opacity-10 bottom-30" alt="">
        <div class="w-full h-full relative">
            <div class="w-full flex justify-between mb-5">
                <div class="flex flex-col text-xl gap-2 font-normal">
                    <h1 class="font-bold text-3xl">Adly Fahreza</h1>
                    <h2 class="text-sm">mitsuhadly@gmail.com</h2>
                </div>
                <div class="flex gap-2">
                    <img src="/icons/github.png" class="w-[50px] h-[50px] bg-pink-300 border-3 rounded-full object-contain p-2" alt="">
                    <img src="/icons/instagram.png" class="bg-pink-300 border-3 h-[50px] rounded-full w-[50px] object-contain p-2" alt="">
                    <img src="/icons/linkedin.png" class="bg-pink-300 border-3 h-[50px] rounded-full w-[50px] object-contain p-2" alt="">
                </div>
            </div>
            <div class="flex mb-5 gap-5 w-full ">
                <div class="bg-pink-400 w-fit p-1 rounded-full border-3 flex-1 text-center">
                    <p class="text-lg text-white">#WebDev</p>
                </div>
                <div class="bg-pink-400 w-fit p-1 rounded-full border-3 flex-1 text-center">
                    <p class="text-lg text-white">#Linux</p>
                </div>
                <div class="bg-pink-400 w-fit p-1 rounded-full border-3 flex-1 text-center">
                    <p class="text-lg text-white">#AI&ML</p>
                </div>
            </div>
            <div class="mb-5 ">
                <p class="text-2xl font-normal">I am a vocational school student majoring in <a href="" class="underline font-bold">Software Engineering</a>. I have a great interest in technology, especially software technology.</p>
                <p class="opacity-10">
                    i really like kirby btw
                </p>
            </div>
            <div class="flex gap-5 w-full absolute bottom-2">
                <div class="bg-red-100 flex-1 border-3 rounded-full p-2">
                    <p class="text-xl font-semibold text-center">Contact Me</p>
                </div>
                <div class="bg-pink-300 flex-1 border-3 rounded-full p-2">
                    <p class="text-xl font-semibold text-center">See My CV</p>
                </div>
            </div>
        </div>
    </div>
</section>
