<div class="absolute bottom-0 left-0 w-full">
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150 w-full h-full overflow-hidden blur-sm opacity-40"><style>
        .path-0{
          animation:pathAnim-0 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-0{
          0%{
            d: path("M 0,600 L 0,150 C 84.1531100478469,171.48325358851673 168.3062200956938,192.9665071770335 277,186 C 385.6937799043062,179.0334928229665 518.9282296650717,143.61722488038276 624,123 C 729.0717703349283,102.38277511961725 805.9808612440191,96.56459330143542 887,124 C 968.0191387559809,151.43540669856458 1053.1483253588517,212.1244019138756 1146,222 C 1238.8516746411483,231.8755980861244 1339.4258373205741,190.9377990430622 1440,150 L 1440,600 L 0,600 Z");
          }
          25%{
            d: path("M 0,600 L 0,150 C 93.92344497607655,180.45933014354068 187.8468899521531,210.91866028708134 297,220 C 406.1531100478469,229.08133971291866 530.5358851674642,216.7846889952153 614,188 C 697.4641148325358,159.2153110047847 740.0095693779904,113.94258373205741 827,102 C 913.9904306220096,90.05741626794259 1045.4258373205741,111.44497607655504 1155,125 C 1264.5741626794259,138.55502392344496 1352.287081339713,144.2775119617225 1440,150 L 1440,600 L 0,600 Z");
          }
          50%{
            d: path("M 0,600 L 0,150 C 69.53110047846889,122.77511961722487 139.06220095693777,95.55023923444976 234,97 C 328.9377990430622,98.44976076555024 449.28229665071774,128.57416267942585 571,124 C 692.7177033492823,119.42583732057416 815.8086124401913,80.1531100478469 897,91 C 978.1913875598087,101.8468899521531 1017.4832535885168,162.8133971291866 1101,181 C 1184.5167464114832,199.1866028708134 1312.2583732057415,174.59330143540672 1440,150 L 1440,600 L 0,600 Z");
          }
          75%{
            d: path("M 0,600 L 0,150 C 93.70334928229664,130.66985645933016 187.40669856459328,111.3397129186603 274,106 C 360.5933014354067,100.6602870813397 440.07655502392345,109.31100478468898 540,122 C 639.9234449760766,134.68899521531102 760.2870813397129,151.41626794258374 873,173 C 985.7129186602871,194.58373205741626 1090.7751196172248,221.02392344497608 1184,218 C 1277.2248803827752,214.97607655502392 1358.6124401913876,182.48803827751198 1440,150 L 1440,600 L 0,600 Z");
          }
          100%{
            d: path("M 0,600 L 0,150 C 84.1531100478469,171.48325358851673 168.3062200956938,192.9665071770335 277,186 C 385.6937799043062,179.0334928229665 518.9282296650717,143.61722488038276 624,123 C 729.0717703349283,102.38277511961725 805.9808612440191,96.56459330143542 887,124 C 968.0191387559809,151.43540669856458 1053.1483253588517,212.1244019138756 1146,222 C 1238.8516746411483,231.8755980861244 1339.4258373205741,190.9377990430622 1440,150 L 1440,600 L 0,600 Z");
          }
        }</style><path d="M 0,600 L 0,150 C 84.1531100478469,171.48325358851673 168.3062200956938,192.9665071770335 277,186 C 385.6937799043062,179.0334928229665 518.9282296650717,143.61722488038276 624,123 C 729.0717703349283,102.38277511961725 805.9808612440191,96.56459330143542 887,124 C 968.0191387559809,151.43540669856458 1053.1483253588517,212.1244019138756 1146,222 C 1238.8516746411483,231.8755980861244 1339.4258373205741,190.9377990430622 1440,150 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="#ff0080" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><style>
        .path-1{
          animation:pathAnim-1 4s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
        }
        @keyframes pathAnim-1{
          0%{
            d: path("M 0,600 L 0,350 C 110.29665071770336,332.13397129186603 220.59330143540672,314.267942583732 301,331 C 381.4066985645933,347.732057416268 431.92344497607655,399.06220095693783 533,383 C 634.0765550239234,366.93779904306217 785.712918660287,283.48325358851673 906,281 C 1026.287081339713,278.51674641148327 1115.224880382775,357.00478468899524 1199,382 C 1282.775119617225,406.99521531100476 1361.3875598086124,378.4976076555024 1440,350 L 1440,600 L 0,600 Z");
          }
          25%{
            d: path("M 0,600 L 0,350 C 115.53110047846889,327.95215311004785 231.06220095693777,305.9043062200957 326,298 C 420.9377990430622,290.0956937799043 495.28229665071785,296.334928229665 581,297 C 666.7177033492821,297.665071770335 763.8086124401912,292.75598086124404 870,311 C 976.1913875598088,329.24401913875596 1091.4832535885168,370.64114832535887 1188,381 C 1284.5167464114832,391.35885167464113 1362.2583732057415,370.67942583732054 1440,350 L 1440,600 L 0,600 Z");
          }
          50%{
            d: path("M 0,600 L 0,350 C 123.63636363636365,320.0861244019139 247.2727272727273,290.17224880382776 329,287 C 410.7272727272727,283.82775119617224 450.5454545454546,307.3971291866029 542,327 C 633.4545454545454,346.6028708133971 776.5454545454546,362.2392344497608 884,382 C 991.4545454545454,401.7607655502392 1063.2727272727273,425.64593301435406 1150,421 C 1236.7272727272727,416.35406698564594 1338.3636363636365,383.17703349282294 1440,350 L 1440,600 L 0,600 Z");
          }
          75%{
            d: path("M 0,600 L 0,350 C 108.19138755980862,353.39712918660285 216.38277511961724,356.7942583732057 312,351 C 407.61722488038276,345.2057416267943 490.6602870813397,330.22009569377997 573,313 C 655.3397129186603,295.77990430622003 736.9760765550241,276.32535885167465 843,285 C 949.0239234449759,293.67464114832535 1079.4354066985647,330.47846889952154 1183,346 C 1286.5645933014353,361.52153110047846 1363.2822966507176,355.7607655502392 1440,350 L 1440,600 L 0,600 Z");
          }
          100%{
            d: path("M 0,600 L 0,350 C 110.29665071770336,332.13397129186603 220.59330143540672,314.267942583732 301,331 C 381.4066985645933,347.732057416268 431.92344497607655,399.06220095693783 533,383 C 634.0765550239234,366.93779904306217 785.712918660287,283.48325358851673 906,281 C 1026.287081339713,278.51674641148327 1115.224880382775,357.00478468899524 1199,382 C 1282.775119617225,406.99521531100476 1361.3875598086124,378.4976076555024 1440,350 L 1440,600 L 0,600 Z");
          }
        }</style><path d="M 0,600 L 0,350 C 110.29665071770336,332.13397129186603 220.59330143540672,314.267942583732 301,331 C 381.4066985645933,347.732057416268 431.92344497607655,399.06220095693783 533,383 C 634.0765550239234,366.93779904306217 785.712918660287,283.48325358851673 906,281 C 1026.287081339713,278.51674641148327 1115.224880382775,357.00478468899524 1199,382 C 1282.775119617225,406.99521531100476 1361.3875598086124,378.4976076555024 1440,350 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="#ff0080" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-1"></path></svg>
  </div>